:root {
  --font-lucinda: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --primary-blue: #363B61;
  --secundary-color: #5474A0;
  --third-color: #AA937F;
  --fourth-color: #ABA378;
  --fifth-color: #725157;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../img/background/bloco2.png);
}


.h1-category {
  text-align: center;
  padding: 20px;
}


.category {
  background-color: rgb(248, 247, 245);
  width: 80%; /* Reduzido de 80% para 70% */
  margin: 0 auto 15px auto; /* Reduzido o espaçamento inferior */
  padding: 8px 10px; /* Reduzido o padding */
  border-radius: 8px; /* Reduzido o border-radius */
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); /* Reduzido o box-shadow */
}

.container-category {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Ajustado para 3 itens por linha */
  justify-items: center; /* Centraliza os itens horizontalmente */
  align-items: top; /* Centraliza os itens verticalmente */
  gap: 5px;
}

.container-recipes {
  padding: 5px;
  border-radius: 10px; /* Reduzido o border-radius */
  padding-bottom: 20px; /* Reduzido o padding-bottom */
  background-color: white;
  box-shadow: 3px 3px 3px rgba(179, 174, 174, 0.3); /* Reduzido o box-shadow */
  width: 95%;
}

.food-category {
  width: 100%;
  height: auto; /* Ajustado para auto */
  border-radius: 10px; /* Reduzido o border-radius */
}

.ingredients-recipe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}