:root {
    --font-lucinda: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    --font: aller, sans-serif;
    --style: normal;
    --primary-blue: #363B61;
    --secundary-color: #5474A0;
    --third-color: #AA937F;
    --fourth-color: #ABA378;
    --fifth-color: #725157;
}

body{
    font-family: var(--font);
}

.header-adm{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-blue);

    padding: 20px;

    margin-bottom: 20px;

    box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.55);
}

.responsive-table{
    padding: 10px;
    overflow-x: auto;
}

caption{
    font-size: 2.5em;
    margin: 20px 0;
}

table{
    width: 100%;
    border-collapse: collapse;

}

thead th{
    padding: 10px;
    border: 1px solid black;
    background-color: #363B61;
    color: white;
}

tbody td{
    border: 1px solid black;
    padding: 5px;
}

tbody tr:nth-child(2n){
    background-color: #b6c9e7;
}
