:root {
    --font-lucinda: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    --font: aller, sans-serif;
    --style: normal;

    --primary-color: #363B61;
    --secundary-color: #5474A0;
    --third-color: #AA937F;
    --fourth-color: #ABA378;
    --fifth-color: #725157;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/background/bloco2.png);
    background-position: center;
    background-size: cover;
}

hr{
    border: none;
  background-image: radial-gradient(var(--primary-color), #5474A0, #7795be82, transparent, transparent);

  width: 90%;
  height: 3px;
  border-radius: 30px;
  margin: 0 auto;
  margin-bottom: 30px;

}

.header-create {
    height: 15vh;
    padding: 10px;
    background-color: var(--primary-color);
    text-align: center;
    font-size: 2em;

}

.container-create {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 20px;

}

.create {
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.35);
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 15px;
}

.image-preview {
    width:100%;
    height: 300px;

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */

    font-size: 35px;
    
    color: #000000;
    background-color: rgb(231, 231, 231);
    
    position: relative;

    cursor: pointer;
    
    padding: 10px;
    
    margin-top: 20px;
    margin-bottom: 10px;
}

.image-preview__image {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.image-preview__default-text {
    position: absolute;
}


#imgPreview{
    width: 100%;
    height: 100%;


    display: flex;
    justify-content: center;
    align-items: center;
}
.file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.info-recipe {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    gap: 30px;

    /* background-image: linear-gradient(to bottom,transparent, gray,transparent); */
}

textarea {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 70%;

    padding: 10px;

    border: 1px solid var(--primary-color);
}

textarea::placeholder {
    text-align: center;
}

textarea:focus{
    border: 1px solid #5474A0;
}

select,
.recipe-title,
.preparation-time,
.quantity{
    padding: 10px;

    border-radius: 15px;
    border: none;
    max-width: 150px;
    border: 1px solid var(--primary-color);
}

select:focus,
input:focus,
textarea:focus {
    transform: scale(1.02);
    transition: 300ms ease-in-out;
    border: 1px solid var(--fifth-color);
}

select:not(:focus),
input:not(:focus),
input:not(:focus) {
    transform: scale(1);
    transition: 300ms ease-in-out;
}

.ingredients {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 53px;
}

select {
    background-color: white;
}

option {
    background-color: var(--primary-color);
    color: white;
}

label {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    font-size: clamp(1.2em, 2vw, 2.5em);

}

.recipe-description{
    margin-bottom: 30px;
}

.checkbox {
    display: block;
    padding: 20px;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: clamp(1.5em, 2vw, 3em);
    width: 70%;

    margin-top: 30px;
}

.title>input {
    font-size: 100%;
    min-width: 100%;
}

.ingredients-list{
    text-align: center;
}

.ingredients-overflow{
    margin: 0px auto 35px auto;
    padding: 10px;
    width: 70%;
    height: 200px;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center;
    
    border: 1px solid black;
    overflow-y: scroll;
}


.buttons{
    display: flex;
    gap: 5px;
}

.ingredients-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    border: 1px solid black;

    width: 40px;
    height: 40px
}

.button-add {
    background: #37c40d;
}

.button-add:hover {
    box-shadow: 0 0.5em 1.5em 2px #14a73e98;
    cursor: pointer;
}

.button-delete {
    background: #d80d0d;
}

.button-delete:hover {
    box-shadow: 0 0.5em 1.5em 2px #a0221298;
    cursor: pointer;
}

/* plus sign */
.sign {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

.btns {
    display: flex;
    /* width: 50%; */
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    flex-flow: column nowrap;
    padding: 25px;
}

.form-btn {
    min-width: 80%;
    margin: 0 auto;
    padding: 12px 20px;
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
    color: white;
    border: 0;
    outline: 0;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid black;
}

.form-btn:active {
    box-shadow: none;
}

.form-btn:hover {
    background: #242d64;
    transition: 200ms ease-in-out;
}

.form-btn:not(:hover) {
    background: #262b4b;
    transition: 200ms ease-in-out;
}

#delete-recipe-button {
    background: #ca0808;
    border: 1px solid black;
}

#delete-recipe-button:hover {
    background: #aa1d1d;
    transition: 200ms ease-in-out;
}
