:root {
    --font-lucinda: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    --font: aller, sans-serif;
    --style: normal;

    --primary-color: #363B61;
    --secundary-color: #5474A0;
    --third-color: #AA937F;
    --fourth-color: #ABA378;
    --fifth-color: #725157;
}

* {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.logotipo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.InputContainer {
    width: 60%;
    height: 35px;
    margin: 10px;

    font-size: 25px;

    display: flex;

    background-color: rgb(255, 255, 255);
    border-radius: 50px;

    overflow: hidden;
    cursor: pointer;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
    caret-color: rgb(255, 81, 0);

    width: 100%;
    height: 100%;
    padding-left: 20px;

    border: none;

    outline: none;
    font-size: 0.9em;

}

.labelforsearch {
    cursor: text;
}

.button-search {
    height: 100%;

    cursor: pointer;
    border: none;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.button-search:hover {
    background: rgb(244, 225, 225);
}

.searchIcon {
    width: 13px;
}

.searchIcon path {
    fill: rgb(114, 114, 114);
    margin: 0px;
    padding: 0px;
}


.header {
    max-width: 100%;
    background: #363B61;
    padding: 25px;

    /* position: fixed; */

}

.nav {
    max-width: 1000px;
    /* max-width: 100%; BOTA NA MEDIA PRA PEGAR A TELA TODA */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-images {
    width: 35px;
    background: white;
    padding: 2px;
    border-radius: 50%;
    /* display: none; */
}

.logo {
    font-size: 48px;
    color: white;
}

.nav-list {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;

    gap: 32px;
    list-style: none;

    border-radius: 0 0px 15px 0;

    position: absolute;
    top: 105px;
    left: 0;
    width: 30vw;
    height: 60vh;
    background-color: var(--secundary-color);

    clip-path: circle(100px at -90% -70%);
    transition: 1s ease-out;

    flex-direction: column;
    gap: 0;

    pointer-events: none;
}

.nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
}

.nav.active .hamburguer {
    top: 26px;
    right: 16px;
    border-top-color: transparent;
}

.nav.active .hamburguer::before {
    transform: rotate(-220deg);
    background-color: rgb(47, 0, 255);
}

.nav.active .hamburguer::after {
    transform: rotate(-220deg);
    background-color: rgb(47, 0, 255);
    top: -7;
}


.infos2 {
    display: flex;
    align-items: center;
}

.nav-list a {
    font-size: 25px;
    color: white;

}

.nav-list li{
    font-size: clamp(18px, 10vw, 30px);
}


.a {
    position: relative;
    padding: 10px;
    border-radius: 5px;
}
.a:hover{
    background-color: #7fa0cf;
}

.a::after {
    content: " ";

    width: 0%;
    height: 3px;

    /* background-color: var(--primary-color); */
    background-color: white;

    position: absolute;
    bottom: 0;
    left: 0;

    transition: 0.3s ease-in-out;
}

.a:hover::after {
    width: 100%;
}

.hamburguer {
    display: block;
    border: none;
    background: none;
    border-top: 3px solid #ffffff;
    cursor: pointer;
    transition: .3s ease-in-out;
    /* margin: 10px; */
}

.hamburguer::before,
.hamburguer::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    transition: 0.3s;
    left: 0;
    /* margin: 10px; */

}


.c-img {
    display: flex;
    align-items: center;
    gap: 20px;
}

.img {
    padding: 10px;
}



@media (max-width: 800px) {
    .nav-images {
        display: block;
    }
}

@media (max-width: 500px) {
    .nav{
        flex-direction: column;
    }

    .nav-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        top: 160px;
        left: 0;
        width: 100vw;
        height: 30vh;

        border-radius: 0 0 15px 15px;
    }
}