:root {
  --font-lucinda: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --primary-blue: #363B61;
}

body {
  background: rgb(226, 226, 226);
}

hr {
  border: none;
  background-image: radial-gradient( var(--primary-blue), #5474A0, #7795be82, transparent, transparent);

  width: 100%;
  height: 3px;
  border-radius: 30px;

  text-align: center;
  justify-content: center;

  margin-bottom: 30px;
}

.galada-regular {
  font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
}

.form-block {
  display: block;
}

/* Section CSS */
.container {
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Finish Section CSS */


/* Form CSS */
.form-center {
  display: flex;
  justify-content: center;
}

.form-container {
  min-width: 380px;
  max-width: 500px;
  max-height: 1000px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
}

.title {
  text-align: center;
  margin: 0px;
  font-size: 30px;
  font-weight: 500;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}
/* Finish Form CSS */


/* Input and Button CSS */
.input {
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0;
  box-sizing: border-box;
  padding: 12px 15px;
}

.infos {
  display: flex;
  flex-flow: column;
  font-size: 13px;
  color: #333333;
}

.input-info {
  display: none;
  margin: 5px 0px 0px 10px;
}

.page-link {
  text-decoration: underline; 
  margin: 0;
  text-align: end;
  color: #747474;
  text-decoration-color: #747474;
}

.page-link-label {
  cursor: pointer;
  font-family: var(--font-lucinda);
  font-size: 9px;
  font-weight: 700;
}

.page-link-label:hover {
  color: #000;
}

.form-btn {
  padding: 10px 15px;
  font-family: var(--font-lucinda);
  border-radius: 20px;
  color: white;
  border: 0;
  outline: 0;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-btn:active {
  box-shadow: none;
}

.form-btn:hover {
  background: #262b4b;
  transition: 200ms ease-in-out;
}

.form-btn:not(:hover) {
  background: var(--primary-blue);
  transition: 200ms ease-in-out;
}

.sign-up-label {
  margin: 0;
  font-size: 10px;
  color: #747474;
  font-family: var(--font-lucinda);
}

.sign-up-link a {
  margin-left: 1px;
  font-size: 11px;
  text-decoration: underline;
  text-decoration-color: var(--primary-blue);
  color: var(--primary-blue);
  cursor: pointer;
  font-weight: 800;
  font-family: var(--font-lucinda);
}

.sign-up-link:hover a {
  color: rgb(34, 37, 65);
}

.input[type="checkbox"] {
  display: none;
}
/* Finish Input and Button CSS */


/* CheckBox CSS */
.custom-checkbox {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid var(--primary-blue);
  border-radius: 4px;
  margin-right: 3px;
  position: relative;
  cursor: pointer;
}

.custom-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: var(--primary-blue);
  border-radius: 2px;
  opacity: 0;
}

.input[type="checkbox"]:checked + .custom-checkbox::after {
  opacity: 1;
}

.checkbox-center {
  display: flex;
  justify-content: end;
  gap: 5px;
  align-items: center;
  font-size: 12px;
  font-family: var(--font-lucinda);
}
/* Finish CheckBox CSS */
