/* 320px — 480px: dispositivos móveis
481px — 768px: iPads, tablets
769px — 1024px: telas pequenas, laptops
1025px — 1200px: desktops, telas grandes
1201px e acima —  telas muito grandes, TVs */


:root {
  --font-lucinda: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;   
  --font: aller, sans-serif;
  --style: normal;
  
  --primary-color: #363B61;
  --secundary-color: #5474A0;
  --third-color: #AA937F;
  --fourth-color: #ABA378;
  --fifth-color: #725157;
}

body{
  font-family: var(--font);
  font-weight: var(--style);
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
}

p{
  font-family: --font;
}

.acess{
  padding-top: 10px;
}

.btn-acess{
  cursor: pointer;
  color: white;
  background-color: var(--secundary-color);
  padding: 10px 15px;
  border-radius: 15px 0px 15px 0px;
  /* border-radius: 15px; */
  border: none;

  width: 100%;
}

.btn-acess:hover{
  background-color: #407bce;
  box-shadow: #749ed8 0px 7px 21px;
  transition: 300ms ease-in-out;
}

.btn-acess:not(:hover){
  box-shadow: #2426316b 0 3px 18px;
  transition: 300ms ease-in-out;
}


.background{
  background-image: url(../img/background/image.png);
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;

  min-height: auto;
  padding-bottom: 25px;
}

.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  background-color: var(--primary-blue);

  margin-bottom: 20px;
  padding: 20px 0 ;

  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.55); */

  height: auto;
}

a, ul, li{
  color: white;
  list-style-type: none;
}

.logo{
  margin-bottom: 0;
  color: white;
  background-color: #cac6c23a;
}

/** ##########################*/


/*! ############# START USER IMG #############*/

.picture{
  display: flex;
  justify-content: space-around;

  /* padding: 30px 0px; */
  gap: 20px;
}

.user-img{
  background-color: white;

  padding: 5px;
  border-radius: 50%; 
  max-width: 54px;
  max-height: 54px;
}

.fork-img{
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 5px;
  max-width: 54px;
  max-height: 54px;
}

/*! ############# END USER IMG #############*/

/** ##########################*/

/*! ############# START CONTEUDO #############*/


.container-conteudo{
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 0px 30px;
  gap: 50px;

}

.conteudo{

  max-width: 55%;

  padding-left: 10px;

  border-left: 2px solid rgba(255, 255, 255, 0.281);

  color: white;

  order: -1;
}

/** Responsivo */
.container-first-img{
  width: 70%;
  background-color: white;
  
  padding: 5px;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 20px;
}

.content-flex-first{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
}

.content-flex-first a{
  color: black;
}

.image-container img {
  width: 100%; /* Garante que a imagem não ultrapasse o 
  container */
  /* height: 100%; */
  border-radius: 15px 15px 0 0 ;

}


.content-flex{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  padding: 15px 0;

  font-size: 1.3em;
}
.p{
  height: auto;
}

.content-p{
  padding-bottom: 15px;
}

/** REPONSIVE TEXT*/

.h1-content{
  font-size: clamp(1.5em, 3vw, 2.5em);
}

.h2-content{
  /* text-align: center; */
  font-size: clamp(1em, 3vw, 1.9em);
}

main{
  margin-bottom: 10px;
}

.main-h2{
  font-size: clamp(1.5em, 10vw, 3em);
  text-align: center;
  color: #363b61;
  padding: 30px 0;
}

.h3-categories{
  color: #363b61;
  text-align: center;

  font-size: clamp(1.1em, 10vw, 2em);

  gap: 50px 50px;
}


.p-content{
  font-size: clamp(.9em, 2.5vw, 1.3em);
}


.button-container {
  width: 30%;
  height: auto;
  margin: 25px auto;
  padding: 10px;

  border: 2px solid rgba(255, 255, 255, 0.558);
  border-radius: 18px;

  background-color: transparent;
  color: rgb(10, 9, 9);

  cursor: pointer;

}

.button-container:hover {
  transform: scale(1.02);
  transition: 300ms ease-in-out;
  box-shadow: 0 0 5px 5px rgba(104, 95, 95, 0.349);
}

.button-container:not(:hover){
  transform: scale(1);
  transition: 300ms ease-in-out;
}


.button-create{
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: clamp(.8em, 5vw, 1.7em);

  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;

  cursor: pointer;

  background-color: transparent;
  color: white;

  border: none;
}



/*! ############# END CONTEUDO #############*/

/** ##########################*/

/*! ############# START MAIN #############*/

.background2{
  background-image: url(../img/background/bloco2.png);
  
  background-size: cover;
  height: auto;
  
}


.categories{
  display: flex;
  flex-flow: column;
  background-color: #ffffff;
  gap: 20px;
  padding: 35px 0; 
  height: auto;
}

.span{
  color: black;
  /* text-align: center; */
}

.categories > ul{
  list-style-type: none;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.categories li{
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 5px;
}

.categories a{
  width: 100px;
  height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.categories-img{
  width: 100%;
  height: 100%;

  border-radius: 50%;
  border: 2px solid white;

  transform: scale(1);
  transition: all 300ms ease-in-out;
  box-shadow: 0px 0px 7px 2px rgba(146, 140, 140, 0.267);

}

.categories-img:hover{

  transform: scale(1.02);
  box-shadow: 0px 0px 10px 3px rgba(146, 140, 140, 0.267);

}


.categories > ul > li{
  text-align: center;
}

.container-food{
  display: grid;
  align-items: start;
  justify-items: center;

  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr;
  gap: 20px;

  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  
}

.food{
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.container-food-img{  
  border-radius: 15px;
  
  background-color: white;
  box-shadow: -5px 5px 1px rgba(134, 123, 123, 0.2);

  transform: scale(1);
  transition: all 300ms ease-in-out;

  width: 80%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;

}


.container-food-img:hover{

  transform: scale(1.02);

  box-shadow: -6px 6px 18px rgb(0, 0, 0, 0.25);
}


/*! ############# END MAIN #############*/


/** ##########################*/


/*! ############# START FOOTER #############*/


/*! ############# END FOOTER #############*/

/** ##########################*/
