:root {
    --font-lucinda: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    --primary-color: #363B61;
    --secundary-color: #5474A0;
    --third-color: #AA937F;
    --fourth-color: #ABA378;
    --fifth-color: #725157;
}

body {
    /* background-color: rgba(166, 189, 209, 0.274); */
    background-image: url(../img/background/bloco2.png);
}

.recipe {
    margin: 0 auto;
    padding-bottom: 1px;
    background-color: rgba(255, 255, 255, 0.9);

    background-image: url(../img/background/ORFF0J0\ 2.png);
    background-position: center;
    background-size: cover;

    border-radius: 15px;
    box-shadow: 0 0px 15px 10px rgba(78, 75, 75, 0.35);

    width: 60%;

}

.h2-recipe {
    text-align: center;
    font-size: 55px;

    margin: 20px 0;
    padding: 30px 0;
}

.recipes-img {
    width: 100%;
    text-align: center;
    border-radius: 15px;
}

.recipes-info {
    font-size: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-bottom: 30px;

    gap: 25px;
    order: 1;
}

.h3-favicon {
    display: flex;
    align-items: center;
    gap: 20px;

}

.food-recipes {
    width: 80%;
    margin-top: 15px;
    border-radius: 15px;
    box-sizing: border-box;
    overflow: hidden;
}

.food-recipes img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}



.img-title {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}

.img-title>img {
    width: 30px;
}



.description {
    text-align: center;
    padding: 10px;
    font-size: 23px;

    margin: 20px auto;

    max-width: 70%;
}

.timer {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    background-color: #ccc;
    padding: 20px 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-style: bold;
}

.h3-ingredients,
.h3-step {
    font-size: clamp(1.5em, 4vw, 3.5em);

    padding: 10px 30px;
}

.h3-description {
    font-size: clamp(1em, 3vh, 2.5em);
}


.ingredients-recipe {
   text-align: center;

    font-size: clamp(20px, 3vw, 30px);

    gap: 10px;
    /* padding: 10px 30px; */
    margin: 10px 0;
}

.method-preparation{
    max-width: 60%;
    margin: 0 auto;
    

    font-size: clamp(20px, 3vw, 30px);

}

.step{
    padding-bottom: 10px;
    display: flex;
}

.recipe-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    margin-top: 20px;
    margin-bottom: 20px;
    /* margin: 0 auto; */
    /* width: 80%; */
}

.form-btn{
    margin: 0 auto;

    border-radius: 15px;
    
    
    padding: 5px;
}

.atu{
    background-color: #363B61;
    color: white;
    padding-inline: 40px;
}

.del{
    background-color: red;
    color: white;
    padding-inline: 40px;
}

